In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_excel("WDIEXCEL.xlsx", sheet_name = "Data")

In [18]:
#df.head()

In [4]:
df["Indicator Code"].isnull().sum()

0

#Birth rate, crude (per 1,000 people)	SP.DYN.CBRT.IN
#Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)	SH.DTH.COMM.ZS
#Cause of death, by non-communicable diseases (% of total)	SH.DTH.NCOM.ZS
#Current health expenditure (% of GDP)	SH.XPD.CHEX.GD.ZS
#Death rate, crude (per 1,000 people)	SP.DYN.CDRT.IN
#Fertility rate, total (births per woman)	SP.DYN.TFRT.IN
#Hospital beds (per 1,000 people)	SH.MED.BEDS.ZS
#Immunization, DPT (% of children ages 12-23 months)	SH.IMM.IDPT
#Immunization, HepB3 (% of one-year-old children)	SH.IMM.HEPB
#Immunization, measles (% of children ages 12-23 months)	SH.IMM.MEAS
#Incidence of HIV, all (per 1,000 uninfected population)	SH.HIV.INCD.TL.P3
#Incidence of tuberculosis (per 100,000 people)	SH.TBS.INCD
#Intentional homicides (per 100,000 people)	VC.IHR.PSRC.P5
#Life expectancy at birth, total (years)	SP.DYN.LE00.IN
#Mortality caused by road traffic injury (per 100,000 people)	SH.STA.TRAF.P5
#Physicians (per 1,000 people)	SH.MED.PHYS.ZS
#Population density (people per sq. km of land area)	EN.POP.DNST
#Prevalence of overweight, weight for height (% of children under 5)	SH.STA.OWGH.ZS
#Smoking prevalence, total (ages 15+)	SH.PRV.SMOK
#Suicide mortality rate (per 100,000 population)	SH.STA.SUIC.P5
#Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)	SH.ALC.PCAP.LI

In [6]:
crude_birth_rate = df.loc[df['Indicator Code'] == 'SP.DYN.CBRT.IN']
death_comm_disease = df.loc[df['Indicator Code'] == 'SH.DTH.COMM.ZS']
death_noncomm_disease = df.loc[df['Indicator Code'] == 'SH.DTH.NCOM.ZS']
health_expenditure = df.loc[df['Indicator Code'] == 'SH.XPD.CHEX.GD.ZS']
crude_death_rate = df.loc[df['Indicator Code'] == 'SP.DYN.CDRT.IN']
fertility_rate = df.loc[df['Indicator Code'] == 'SP.DYN.TFRT.IN']
hospital_bed = df.loc[df['Indicator Code'] == 'SH.MED.BEDS.ZS']
DPT_immu = df.loc[df['Indicator Code'] == 'SH.IMM.IDPT']
HepB3_immu = df.loc[df['Indicator Code'] == 'SH.IMM.HEPB']
measles_immu = df.loc[df['Indicator Code'] == 'SH.IMM.MEAS']
HIV_incidence = df.loc[df['Indicator Code'] == 'SH.HIV.INCD.TL.P3']
TB_incidence = df.loc[df['Indicator Code'] == 'SH.TBS.INCD']
homicides_per100000 = df.loc[df['Indicator Code'] == 'VC.IHR.PSRC.P5']
life_expectancy = df.loc[df['Indicator Code'] == 'SP.DYN.LE00.IN']
road_traffic_mortality = df.loc[df['Indicator Code'] == 'SH.STA.TRAF.P5']
physicians_per1000_people = df.loc[df['Indicator Code'] == 'SH.MED.PHYS.ZS']
population_density = df.loc[df['Indicator Code'] == 'EN.POP.DNST']
overweight_prevalence = df.loc[df['Indicator Code'] == 'SH.STA.OWGH.ZS']
smoking_prevalence = df.loc[df['Indicator Code'] == 'SH.PRV.SMOK']
suicide_per1000000 = df.loc[df['Indicator Code'] == 'SH.STA.SUIC.P5']
alcohol_consumtion_per_capita = df.loc[df['Indicator Code'] == 'SH.ALC.PCAP.LI']

In [7]:
crude_birth_rate.shape, crude_death_rate.shape, fertility_rate.shape, life_expectancy.shape,suicide_per1000000.shape

((264, 65), (264, 65), (264, 65), (264, 65), (264, 65))

In [10]:
overweight_prevalence.shape, homicides_per100000.shape, death_comm_disease.shape

((264, 65), (264, 65), (264, 65))

In [11]:
df = pd.concat([crude_birth_rate, death_comm_disease, death_noncomm_disease, health_expenditure, crude_death_rate,fertility_rate,
               hospital_bed, DPT_immu, HepB3_immu, measles_immu, HIV_incidence, TB_incidence, homicides_per100000, life_expectancy,
               road_traffic_mortality, physicians_per1000_people, population_density, overweight_prevalence, smoking_prevalence,
               suicide_per1000000, alcohol_consumtion_per_capita])

In [12]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
121,Arab World,ARB,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,47.790076,47.558391,47.327603,47.091616,46.844209,46.577098,...,27.484867,27.389298,27.211445,26.940781,26.576991,26.134803,25.648015,25.147542,NaN,NaN
1561,Caribbean small states,CSS,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,40.259404,39.949409,39.474934,38.842759,38.076287,37.212835,...,17.346224,17.138680,16.934370,16.655275,16.526990,16.318071,16.104703,15.886769,NaN,NaN
3001,Central Europe and the Baltics,CEB,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,19.117434,18.107956,17.204125,16.994222,16.504625,15.936754,...,9.973223,9.976633,9.638322,9.934669,9.888470,10.134697,10.275287,9.948651,NaN,NaN
4441,Early-demographic dividend,EAR,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,43.539861,43.297248,43.035008,42.754624,42.459891,42.154378,...,22.453785,22.078508,21.739149,21.413317,21.096953,20.785885,20.483421,20.203956,NaN,NaN
5881,East Asia & Pacific,EAS,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,26.299637,24.485282,36.371369,40.272212,37.494831,36.629391,...,13.835658,13.893971,13.759778,13.859393,13.601496,14.020415,13.585424,12.561121,NaN,NaN

In [13]:
df = df.sort_values(by=['Country Code'])

In [14]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
81243,Aruba,ABW,"Incidence of HIV, all (per 1,000 uninfected po...",SH.HIV.INCD.TL.P3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80934,Aruba,ABW,"Death rate, crude (per 1,000 people)",SP.DYN.CDRT.IN,6.388,6.241,6.118,6.012,5.92,5.839,...,8.061,8.205,8.347,8.488,8.627,8.765,8.907,9.053,NaN,NaN
81198,Aruba,ABW,"Hospital beds (per 1,000 people)",SH.MED.BEDS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81422,Aruba,ABW,Mortality caused by road traffic injury (per 1...,SH.STA.TRAF.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81978,Aruba,ABW,Total alcohol consumption per capita (liters o...,SH.ALC.PCAP.LI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN