In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#load the raw data file
df = pd.read_excel("WDIEXCEL.xlsx", sheet_name = "Data")

In [3]:
df.sample(20)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
112078,Burkina Faso,BFA,"School enrollment, preprimary, male (% gross)",SE.PRE.ENRR.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,3.080730e+00,3.627850e+00,3.985110e+00,4.063200e+00,4.105560e+00,3.056740e+00,3.693620e+00,4.383370e+00,5.529640e+00,NaN
174252,Ghana,GHA,Account ownership at a financial institution o...,FX.OWN.TOTL.YG.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.653992e+01,NaN,NaN,3.642419e+01,NaN,NaN,4.846479e+01,NaN,NaN,NaN
239258,Malawi,MWI,"Completeness of birth registration, female (%)",SP.REG.BRTH.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6.400000e+01,NaN,6.720000e+01,NaN,NaN,NaN,NaN
302903,Samoa,WSM,"GNI per capita, PPP (current international $)",NY.GNP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.440000e+03,5.290000e+03,5.310000e+03,5.350000e+03,5.710000e+03,6.190000e+03,6.290000e+03,6.240000e+03,6.490000e+03,NaN
85982,Azerbaijan,AZE,"Population ages 25-29, male (% of male populat...",SP.POP.2529.MA.5Y,9.408185e+00,9.249279e+00,9.171617e+00,9.075084e+00,8.815305e+00,8.331565e+00,...,9.529499e+00,9.672446e+00,9.757524e+00,9.790290e+00,9.774433e+00,9.688568e+00,9.569282e+00,9.405305e+00,9.182381e+00,NaN
341608,Tajikistan,TJK,"Educational attainment, at least completed low...",SE.SEC.CUAT.LO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9.452945e+01,NaN,NaN,NaN
57819,South Asia,SAS,"Completeness of birth registration, male (%)",SP.REG.BRTH.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
369116,Vanuatu,VUT,"GDP per capita, PPP (constant 2017 internation...",NY.GDP.PCAP.PP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.197032e+03,3.163869e+03,3.136463e+03,3.120545e+03,3.042141e+03,3.066322e+03,3.121114e+03,3.129886e+03,3.143628e+03,NaN
324946,South Sudan,SSD,Other taxes (current LCU),GC.TAX.OTHR.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
287655,Papua New Guinea,PNG,"Prevalence of HIV, male (% ages 15-24)",SH.HIV.1524.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000e-01,1.000000e-01,1.000000e-01,1.000000e-01,1.000000e-01,1.000000e-01,2.000000e-01,2.000000e-01,2.000000e-01,NaN
161579,Faroe Islands,FRO,Demand for family planning satisfied by modern...,SH.FPL.SATM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222275,Kyrgyz Republic,KGZ,"Government expenditure per student, secondary ...",SE.XPD.SECO.PC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167169,French Polynesia,PYF,Broad money (current LCU),FM.LBL.BMNY.CN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310678,Serbia,SRB,"PPG, IDA (DOD, current US$)",DT.DOD.MIDA.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.021590e+08,7.081790e+08,6.845560e+08,5.980550e+08,5.152330e+08,4.365780e+08,3.950320e+08,3.194650e+08,2.516980e+08,NaN
123307,Chad,TCD,Net primary income (Net income from abroad) (c...,NY.GSR.NFCY.CN,-5.201019e+08,-7.565528e+08,-8.428791e+08,-8.079661e+08,-7.578718e+08,-8.405009e+08,...,-1.490000e+11,-1.530000e+11,-2.920000e+11,-2.983114e+11,-1.962320e+11,-1.102725e+11,-7.600000e+10,-9.117619e+10,-1.019208e+11,NaN
232260,Liechtenstein,LIE,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.690000e+00,1.510000e+00,1.450000e+00,1.590000e+00,1.400000e+00,1.610000e+00,1.440000e+00,1.580000e+00,NaN,NaN
184125,Guatemala,GTM,"Services, value added (current US$)",NV.SRV.TOTL.CD,NaN,NaN,NaN,NaN,NaN,7.218954e+08,...,2.764609e+10,2.952223e+10,3.188201e+10,3.477239e+10,3.851660e+10,4.221140e+10,4.698880e+10,NaN,NaN,NaN
175401,Ghana,GHA,"Pupil-teacher ratio, tertiary",SE.TER.ENRL.TC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.949606e+01,2.694957e+01,2.961281e+01,2.892712e+01,2.726886e+01,NaN,2.651922e+01,NaN,NaN
66885,World,WLD,"Internally displaced persons, new displacement...",VC.IDP.NWCV,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18508,Fragile and conflict affected situations,FCS,"Secondary education, teachers, female",SE.SEC.TCHR.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,8.219037e+05,7.858792e+05,8.641834e+05,8.238959e+05,8.757832e+05,8.946956e+05,9.152283e+05,NaN,NaN,NaN

In [4]:
#check to confirm there are no missing values in the indicator code column
#because we will filter countries based on this code
df["Indicator Code"].isnull().sum()

0

In [ ]:
#These are the variable of interest that could have an impact on life expectancy

#Birth rate, crude (per 1,000 people)	SP.DYN.CBRT.IN
#Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)	SH.DTH.COMM.ZS
#Cause of death, by non-communicable diseases (% of total)	SH.DTH.NCOM.ZS
#Current health expenditure (% of GDP)	SH.XPD.CHEX.GD.ZS
#Death rate, crude (per 1,000 people)	SP.DYN.CDRT.IN
#Fertility rate, total (births per woman)	SP.DYN.TFRT.IN
#Hospital beds (per 1,000 people)	SH.MED.BEDS.ZS
#Immunization, DPT (% of children ages 12-23 months)	SH.IMM.IDPT
#Immunization, HepB3 (% of one-year-old children)	SH.IMM.HEPB
#Immunization, measles (% of children ages 12-23 months)	SH.IMM.MEAS
#Incidence of HIV, all (per 1,000 uninfected population)	SH.HIV.INCD.TL.P3
#Incidence of tuberculosis (per 100,000 people)	SH.TBS.INCD
#Intentional homicides (per 100,000 people)	VC.IHR.PSRC.P5
#Life expectancy at birth, total (years)	SP.DYN.LE00.IN
#Mortality caused by road traffic injury (per 100,000 people)	SH.STA.TRAF.P5
#Physicians (per 1,000 people)	SH.MED.PHYS.ZS
#Population density (people per sq. km of land area)	EN.POP.DNST
#Prevalence of overweight, weight for height (% of children under 5)	SH.STA.OWGH.ZS
#Smoking prevalence, total (ages 15+)	SH.PRV.SMOK
#Suicide mortality rate (per 100,000 population)	SH.STA.SUIC.P5
#Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)	SH.ALC.PCAP.LI

In [11]:
#filter data frame to isolate rows with each variables of interest for every country in the dataframe

crude_birth_rate = df.loc[df['Indicator Code'] == 'SP.DYN.CBRT.IN']
death_comm_disease = df.loc[df['Indicator Code'] == 'SH.DTH.COMM.ZS']
death_noncomm_disease = df.loc[df['Indicator Code'] == 'SH.DTH.NCOM.ZS']
health_expenditure = df.loc[df['Indicator Code'] == 'SH.XPD.CHEX.GD.ZS']
crude_death_rate = df.loc[df['Indicator Code'] == 'SP.DYN.CDRT.IN']
fertility_rate = df.loc[df['Indicator Code'] == 'SP.DYN.TFRT.IN']
hospital_bed = df.loc[df['Indicator Code'] == 'SH.MED.BEDS.ZS']
DPT_immu = df.loc[df['Indicator Code'] == 'SH.IMM.IDPT']
HepB3_immu = df.loc[df['Indicator Code'] == 'SH.IMM.HEPB']
measles_immu = df.loc[df['Indicator Code'] == 'SH.IMM.MEAS']
HIV_incidence = df.loc[df['Indicator Code'] == 'SH.HIV.INCD.TL.P3']
TB_incidence = df.loc[df['Indicator Code'] == 'SH.TBS.INCD']
homicides_per100000 = df.loc[df['Indicator Code'] == 'VC.IHR.PSRC.P5']
life_expectancy = df.loc[df['Indicator Code'] == 'SP.DYN.LE00.IN']
road_traffic_mortality = df.loc[df['Indicator Code'] == 'SH.STA.TRAF.P5']
physicians_per1000_people = df.loc[df['Indicator Code'] == 'SH.MED.PHYS.ZS']
population_density = df.loc[df['Indicator Code'] == 'EN.POP.DNST']
overweight_prevalence = df.loc[df['Indicator Code'] == 'SH.STA.OWGH.ZS']
smoking_prevalence = df.loc[df['Indicator Code'] == 'SH.PRV.SMOK']
suicide_per1000000 = df.loc[df['Indicator Code'] == 'SH.STA.SUIC.P5']
alcohol_consumption_per_capita = df.loc[df['Indicator Code'] == 'SH.ALC.PCAP.LI']

In [6]:
#verify that each of the variable are same size
crude_birth_rate.shape, crude_death_rate.shape, fertility_rate.shape, life_expectancy.shape,suicide_per1000000.shape

((264, 65), (264, 65), (264, 65), (264, 65), (264, 65))

In [7]:
#verify that each of the variable are same size
overweight_prevalence.shape, homicides_per100000.shape, death_comm_disease.shape

((264, 65), (264, 65), (264, 65))

In [8]:
alcohol_consumtion_per_capita.shape

(264, 65)

In [20]:
#create a new dataframe by concatenating all variables of interest
frames = [crude_birth_rate, death_comm_disease, death_noncomm_disease, health_expenditure, crude_death_rate, fertility_rate, hospital_bed, DPT_immu, HepB3_immu, measles_immu, HIV_incidence, TB_incidence, homicides_per100000, life_expectancy, road_traffic_mortality, physicians_per1000_people, population_density, overweight_prevalence, smoking_prevalence, suicide_per1000000, alcohol_consumption_per_capita]
df_with_selected_variables = pd.concat(frames)

In [21]:
df_with_selected_variables.sample(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
361338,Ukraine,UKR,Total alcohol consumption per capita (liters o...,SH.ALC.PCAP.LI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,8.600000,NaN,NaN,NaN,NaN
236765,"Macao SAR, China",MAC,"Incidence of tuberculosis (per 100,000 people)",SH.TBS.INCD,NaN,NaN,NaN,NaN,NaN,NaN,...,79.000000,82.000000,86.000000,77.000000,71.000000,67.000000,70.000000,60.0,NaN,NaN
181729,Guam,GUM,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247518,Marshall Islands,MHL,"Suicide mortality rate (per 100,000 population)",SH.STA.SUIC.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98558,Bermuda,BMU,"Intentional homicides (per 100,000 people)",VC.IHR.PSRC.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,12.582375,9.496826,7.965462,6.412106,6.451301,12.960125,8.142885,NaN,NaN,NaN

In [22]:
#sort the dataframe
df_with_selected_variables = df_with_selected_variables.sort_values(by=['Country Code'])

In [23]:
#drop columns representing dates from 1960 to 1999 
df_with_selected_variables = df_with_selected_variables.drop(columns=['1960', '1961', '1962','1963','1964','1965','1966','1967','1968','1969','1970','1971','1972', '1973', '1974', '1975','1976', '1977','1978', '1979','1980', '1981','1982', '1983', '1984', '1985','1986', '1987','1988', '1989','1990', '1991','1992', '1993', '1994', '1995','1996', '1997','1998', '1999','1990'])

In [24]:
#reset the df index
df_with_selected_variables = df_with_selected_variables.reset_index(drop=True)

In [25]:
#verify reset index
df_with_selected_variables.head(4)

,Country Name,Country Code,Indicator Name,Indicator Code,2000,2001,2002,2003,2004,2005,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"Incidence of HIV, all (per 1,000 uninfected po...",SH.HIV.INCD.TL.P3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aruba,ABW,"Death rate, crude (per 1,000 people)",SP.DYN.CDRT.IN,6.971,7.022,7.084,7.154,7.233,7.32,...,8.061,8.205,8.347,8.488,8.627,8.765,8.907,9.053,NaN,NaN
2,Aruba,ABW,"Hospital beds (per 1,000 people)",SH.MED.BEDS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aruba,ABW,Mortality caused by road traffic injury (per 1...,SH.STA.TRAF.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
#check whether the "Country Name" column has only countrie name.
df["Country Name"].unique()

array(['Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD countries)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD countries)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle income', 'North America', 'Not classified', 'OECD members',
       'Other small states', 'Pacific island small states',
       'Post-demographic dividend', 'Pre-demographic dividend',
       'Small states', 'South Asia', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income',
       'World', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Faroe Islands', 'Fiji',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia, The',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hong Kong SAR, China', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, Dem. People’s Rep.', 'Korea, Rep.', 'Kosovo', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macao SAR, China', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

"Country Name" column seems to have grouped region names in addition to country names. So, lets remove all the rows which have broader region in the dataset.

#remove rows with non country values. These inlucde 
'Arab World', 
'Central Europe and the Baltics', 
'East Asia & Pacific (excluding high income)',
'Early-demographic dividend', 'East Asia & Pacific',
'Europe & Central Asia (excluding high income)',
'Europe & Central Asia','Euro area',
'European Union', 'Fragile and conflict affected situations',
'High income', 
'Heavily indebted poor countries (HIPC)', 
'IBRD only', 'IDA & IBRD total', 'IDA total',
'IDA blend', 'IDA only', 
'Not classified', 
'Latin America & Caribbean (excluding high income)',
'Latin America & Caribbean',
'Least developed countries: UN classification', 'Low income',
'Lower middle income',
'Low & middle income', 'Late-demographic dividend',
'Middle East & North Africa',
'Middle East & North Africa (excluding high income)', 
'North America', 
'OECD members',
'Other small states', 
'Pre-demographic dividend',
'West Bank and Gaza', 'Pacific island small states',
'South Asia',
'Sub-Saharan Africa (excluding high income)', 
'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
'East Asia & Pacific (IDA & IBRD countries)',
'Europe & Central Asia (IDA & IBRD countries)', 
'Latin America & the Caribbean (IDA & IBRD countries)',
'Middle East & North Africa (IDA & IBRD countries)',
'South Asia (IDA & IBRD)',
'Sub-Saharan Africa (IDA & IBRD countries)', 
'Upper middle income',

In [27]:
#create a list with all the row values that needs to be removed
row_values_to_remove = ['Arab World', 
'Central Europe and the Baltics', 
'East Asia & Pacific (excluding high income)',
'Early-demographic dividend', 'East Asia & Pacific',
'Europe & Central Asia (excluding high income)',
'Europe & Central Asia','Euro area',
'European Union', 'Fragile and conflict affected situations',
'High income', 
'Heavily indebted poor countries (HIPC)', 
'IBRD only', 'IDA & IBRD total', 'IDA total',
'IDA blend', 'IDA only', 
'Not classified', 
'Latin America & Caribbean (excluding high income)',
'Latin America & Caribbean',
'Least developed countries: UN classification', 'Low income',
'Lower middle income',
'Low & middle income', 'Late-demographic dividend',
'Middle East & North Africa',
'Middle East & North Africa (excluding high income)', 
'North America', 
'OECD members',
'Other small states', 
'Pre-demographic dividend',
'West Bank and Gaza', 'Pacific island small states',
'South Asia',
'Sub-Saharan Africa (excluding high income)', 
'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
'East Asia & Pacific (IDA & IBRD countries)',
'Europe & Central Asia (IDA & IBRD countries)', 
'Latin America & the Caribbean (IDA & IBRD countries)',
'Middle East & North Africa (IDA & IBRD countries)',
'South Asia (IDA & IBRD)',
'Sub-Saharan Africa (IDA & IBRD countries)', 
'Upper middle income']

In [28]:
#create a for loop to iterate over the length of the list and remove rows with each value from list in each iteratation
for i in range(len(row_values_to_remove)):
    df_with_selected_variables = df_with_selected_variables[df_with_selected_variables["Country Name"] != row_values_to_remove[i]]

In [29]:
#verify the structure of final dataframe
df_with_selected_variables.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4599 entries, 0 to 5543
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    4599 non-null   object
 1   Country Code    4599 non-null   object
 2   Indicator Name  4599 non-null   object
 3   Indicator Code  4599 non-null   object
 4   2000            3101 non-null   float64
 5   2001            2376 non-null   float64
 6   2002            2417 non-null   float64
 7   2003            2431 non-null   float64
 8   2004            2497 non-null   float64
 9   2005            2855 non-null   float64
 10  2006            2543 non-null   float64
 11  2007            2529 non-null   float64
 12  2008            2550 non-null   float64
 13  2009            2566 non-null   float64
 14  2010            3526 non-null   float64
 15  2011            2711 non-null   float64
 16  2012            2709 non-null   float64
 17  2013            2846 non-null   float64
 18  2014            2622 non-null   float64
 19  2015            3127 non-null   float64
 20  2016            3472 non-null   float64
 21  2017            2370 non-null   float64
 22  2018            2110 non-null   float64
 23  2019            707 non-null    float64
 24  2020            0 non-null      float64
dtypes: float64(21), object(4)
memory usage: 934.2+ KB

In [31]:
#make a copy of dataset to workwith for EDA
final_dataset = df_with_selected_variables.copy()

In [33]:
#verify both datasets match
final_dataset.shape, df_with_selected_variables.shape

((4599, 25), (4599, 25))